body {
    background-image: url("images/boite-musique/marioMovieBg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    color: white;
    font-family: 'Changa One', cursive;
    font-size: 4vmax;
    width: 80%;
    margin: 2% auto;
    text-align: center;
}

.button {
    margin: 1% auto;
    text-align: center;
}

.btn {
    background-image: url("images/boite-musique/brickBlock.png");
    background-repeat: no-repeat;
    font-size: 2vmax;
    color: #fff;
    font-family: 'Changa One', cursive;
    border-radius: 0;
    margin: auto 1%;
}

#restart {
    padding: 12px 30px;
    background-size: 100%;
}

#randomAll {
    background-size: 100%;
    padding: 10px 40px;
}

.btn:hover {
    color:#f4d009;
}

/* .btn:active:hover {
    border-color:#336d9d;
    border-width: 2px;
    color: #fff;
    font-family: 'Changa One', cursive;
} */

.containers {
    margin: 0 auto;
    text-align: center;
    width: 70vmax;
}

.notes {
    width: 10%;
    display: inline-block;
    text-align: center;
    margin: 1% 1%;
}

.selection {
    width: 8%;
    display: inline-block;
    text-align: center;
    margin: 1% 1%;
}

img {
    width: 85%;
}

.onoff {
    background-color: transparent;
    border: none;
    width: 4%;
    position: absolute;
    right: 20px;
    top:10px;
}

input.checkNote {
    margin-top: 10px;
    width: 20px;
    height: 20px;
}